
    .main-class {
        display: flex;
        flex-direction: column;
    }

    .client-width {
        min-width: 375px;
    }

    .pseudo-header {
        position: relative;
        height: 240px;
        min-width: 375px;
        width: 100%;
        background-image: url( '../images/bg-main-mobile.png' );
        background-repeat: no-repeat;
        background-size: cover;
    }

    .back-of-card {
        position: absolute;
        width: var( --image-width );
        height: var( --image-height );
        top: 2em;
        right: 1em;
        background-image: url( '../images/bg-card-back.png' );
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 5;
    }

    .front-of-card {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: var( --image-width );
        height: var( --image-height );
        top: 7.8em;
        right: 4em;
        background-image: url( '../images/bg-card-front.png' );
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 10;
        padding: 1.2em;
    }

    .div-around-logo {
        height: 40%;
    }

    .div-with-text {
        height: 30%;
    }

    .size-logo {
        width: 4em;
    }

    .pseudo-body {
        display: flex;
        flex-direction: column;
        padding-left: 2em;
        justify-content: center;
        align-self: center;
    }

    .pseudo-body > span {
        margin-bottom: 2em;
    }

    .flex-center {
        align-items: center;
    }

    .grid-mm-yy-cvc-gap {
        display: grid;
        grid-template-columns: auto auto;
    }

    .card-number {
        font-size: var( --body-m );
        letter-spacing: var( --letter-space-large );
    }

    .card-personal-details {
        font-size: var( --body-xs );
        letter-spacing: var( --letter-space-small );
        text-transform: uppercase;
    }

    .flex-centre-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .buffer-from-header {
        margin-top: 5em;
        margin-left: 0;
    }

    #exp-date-month, #exp-date-year {
        width: 4rem;
    }

    #cvc {
        width: 7rem;
    }

    .format-error-text {
        margin-top: 0.2em;
        font-size: var( --fs-small );
        color: rgb( 255, 0, 0, 0.5 );
    }

    .hide-me {
        visibility: hidden;
    }

    .hide-me-plus {
        visibility: hidden;
        display: none;
    }

    .big-button {
        width: 70%;
        color: white;
        background-color: var( --deep-violet );
        text-align: center;
        padding: 1em 2em;
        border-radius: 0.5em;
        align-self: center;
        margin-top: 3em;
        font-size: var( --fs-medium );
    }

    .size-tick-image {
        height: 4em;
        width: 4em;
    }

    .space-evenly {
        margin-bottom: 2rem;
    }

    @media screen and ( min-width: 768px ) {

        :root {
            --image-width: 20rem;
        }

        .main-class {
            flex-direction: row;
        }

        .pseudo-header {
            background-image: url( '../images/bg-main-desktop.png' );
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            min-width: 250px;
            width: 768px;
        }

        .pseudo-body {
            height: 40vh;
            align-self: flex-start;
        }

        .client-width {
            width: 768px;
        }

        .front-of-card {
            top: 8em;
            left: 6em;
        }

        .back-of-card {
            top: 20em;
            left: 8em;
        }

        .buffer-from-header {
            margin-top: 0;
            margin-left: 13em;
        }

        .buffer-top {
            height: 20vh;
        }
    }

    @media screen and ( min-width: 1024px ) {

        :root {
            --image-width: 25rem;
        }

        .pseudo-body {
            height: 40vh;
        }

        input[type=text] {
            background-color: white;
            border: 1px solid #CCC;
            border-radius: 0.5rem;
            padding: 0.75em;
            height: 2.5rem;
            font-size: 1.2rem;
        }

        label {
            font-size: var( --fs-default );
            margin-bottom: 0.5em;
            text-transform: uppercase;
            letter-spacing: var( --letter-space-small );
        }

        .client-width {
            width: 1024px;
        }

        .pseudo-header {
            min-width: 350px;
            width: 35%;
        }

        .front-of-card {
            top: 12em;
            left: 12em;
        }

        .back-of-card {
            top: 28em;
            left: 18em;
        }

        .buffer-from-header {
            margin-top: 0;
            margin-left: 22em;
        }

        .buffer-top {
            margin-top: 35em;
        }
    }

    @media screen and ( min-width: 1440px ) {
        .client-width {
            width: 1024px;
        }
    }